@charset "UTF-8";
/* CSS Document */

html {
	text-align: center;
	background:url(../img/Background.jpg);
	background-size: cover;
	background-repeat: repeat;
	
}

body {
	text-align: center;
	width:400px;
	margin:0 auto;
	background-color:white;
	padding-top:50px;
	padding-bottom:20px;
	padding-left: 2em;
	padding-right:2em;
	
	
	
}
h1 {
	margin-top:3em;
	font-weight: 400;
}
bold {font-weight:bolder;}
form {
	margin-top:3em;
}